#list-entry {
  text-align: left;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0%;
  padding: 0%;

  .entry-text {
    color: black;
    margin-left: 5%;
    font-size: 15px;
  }
  .checked {
    text-decoration: line-through;
  }

  .icons {
    margin-right: 5%;

    & > * {
      box-sizing: border-box;
      height: 35%;
      padding: 5px;
      cursor: pointer;
      transition: all 100ms linear;
      margin: 2px;
    }

    #check-icon,
    #trash-icon {
      color: black;
    }

    #check-icon:hover {
      color: green;
    }
    #trash-icon:hover {
      color: red;
    }
  }
}
