<div id="app">
  <div id="header">
    <div id="header-content">
      <h2>Angular TODO</h2>
      <img
      id="logo"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    </div>
  </div>
  <div id="main">
    <div class="title">
      <h2 id="text">TODO APP</h2>
    </div>
    <div id="task-input-bar">
      <div class="task-input">
          <input
            type="text"
            name="task-input"
            [(ngModel)]="task" 
            id="task"
            placeholder="What do you plan to do?"
          />
          <button (click)="addTodo(task)" id="task-button">
            ADD
          </button>
        </div>
    </div>
    <app-task-list [taskArr]="taskArr" (itemDeletedEvent)="deleteItem($event)"></app-task-list>
  </div>
</div>